
.wpe-results-card
{
	background-color: #fff;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 6px;
	width: 812px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 14px;
	margin-bottom: 10px;
	/*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);*/
}

.wpe-results-card .inner-left
{
	display: inline-block;
	letter-spacing: normal;
	text-rendering: auto;
	vertical-align: top;
	width: 48px;
}

.wpe-results-card .inner-right
{
	color: rgb(51, 51, 51);
	display: inline-block;
	font-family: sans-serif;
	letter-spacing: normal;
	text-rendering: auto;
	vertical-align: top;
	width: 450px;
	word-spacing: 0px;
}

.wpe-results-card img
{
	width: 25px;
}

.wpe-results-card textarea
{
	white-space: nowrap;
	width: 100%;
	height: 400px;
}

.wpe-results-card .view-details
{
	font-size: 12px;
	color: #c0c0c0;
	cursor: pointer;
}

.wpe-results-card .badge
{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 2px 10px;
}

.wpe-update a:link, .wpe-update a:visited, .wpe-update a:hover, .wpe-update a:active { color:#ffffff; cursor: pointer; text-decoration: none; }

.wpe-results-card .wpe-update
{
	background-color: #0085ba;
}

.wpe-results-card .warnings
{
	margin-left: 5px;
	background-color: #f1c40f;
}

.wpe-results-card .errors
{
	margin-left: 5px;
	background-color: #e74c3c;
}

#developerMode textarea
{
	width: 100%; height: 500px; background: #FFF; color: #000;
}

#progressbar .ui-progressbar-value
{
	background: #0085ba;
}

#wpe-progress-count, #wpe-progress-active
{
	display: inline;
}

/* Tooltip container */
.wpe-tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.wpe-tooltip .wpe-tooltiptext {
	visibility: hidden;
	width: 340px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: -25px;
	left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.wpe-tooltip:hover .wpe-tooltiptext {
	visibility: visible;
}
