$color-error: #d63638;
$color-success: #00a32a;
$color-background: #fff;
$color-border: #c3c4c7;

.wpe-pcc {
  &-alert {
    margin: 5px 0 15px;
    background: $color-background;
    border: 1px solid $color-border;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
    position: relative;

    .spinner {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
	  visibility: visible;
    }

    &-error {
      border-left-color: $color-error;
    }

    &-success {
      border-left-color: $color-success;
    }
  }
  &-php-version {
    &-passed {
      color: $color-success;
    }

    &-errors {
      color: $color-error;
      text-decoration: none;
    }

	&-report {
		textarea {
			width: 100%;
			height: 30em;
			max-height: 80vh;
		}
	}
  }
}
